div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Change Contact Info
    
    .col-sm-12
      form.form(name='contactInfoForm', ng-submit='changeContactInfo(contactInfoForm)', novalidate, ng-controller='ContactInfoCtrl', class='form-horizontal')
    
        .form-group
          label(for='fieldName', class='col-sm-2', control-label) Name
          .col-sm-4
            input#fieldName.form-control(type='text', name='name', ng-model='contactInfo.name', required='', ng-model-options='{ debounce: 750 }')
          p.help-block(ng-show="contactInfoForm.name.$error.required" class="error") C'mon, don't be shy!  We need a name here.
    
        //- TODO validate that e-mail isn't already taken
        //- see https://docs.angularjs.org/guide/forms, "Custom Validation" section
        .form-group
          label(for='fieldEmail', class='col-sm-2', control-label) Email
          .col-sm-4
            input#fieldEmail.form-control(type='email', name='email', ng-model='contactInfo.email', ng-model-options='{ debounce: 750 }', required='', unique-email='true')
            
            //- TODO: unique-email relies on asynchronous validation which is not yet implemented in Angular 1.2.x
          p.help-block(ng-show="contactInfoForm.email.$error.email" class="error") This doesn't look like a valid e-mail address!
          
          p.help-block(ng-show="contactInfoForm.email.$error.uniqueEmail" class="error") Oops! This e-mail is already taken.
          //- {{ contactInfoForm.email.$error }}
    
        .form-group
          label(for='fieldPhone', class='col-sm-2', control-label) Phone
          .col-sm-4
            input#fieldPhone.form-control(type='text', name='phone', ng-model='contactInfo.phone', ng-model-options='{ debounce: 750 }', ui-mask='(999) 999-9999')
          p.help-block(ng-show="contactInfoForm.phone.$error.mask" class="error") Keep typing!
                
        p.help-block  {{ message }}

        .form-group.buttons
          .col-sm-offset-2.col-sm-10
            button.btn.btn-md.btn-success(ng-click='resetContactInfo()', ng-disabled="!isContactInfoChanged(contactInfo)") Reset
            button.btn.btn-md.btn-primary(type='submit', ng-disabled="contactInfoForm.$invalid || !isContactInfoChanged(contactInfo)") Save changes

  .row
    .col-sm-12
      h1 Change Password
    
    .col-sm-12
      form.form(name='passwordForm', class='form-horizontal', ng-submit='changePassword(passwordForm)', ng-controller='ChangePasswordCtrl', novalidate)
        .form-group
          label(class='col-sm-2') Current Password
          .col-sm-4
            input.form-control(type='password', name='password', ng-model='pw.oldPassword', required='', mongoose-error)
          
          p.help-block(ng-show='passwordForm.password.$error.mongoose')
            | {{ errors.other }}
    
        .form-group
          label(class='col-sm-2') New Password
          .col-sm-4
            input.form-control(type='password', name='newPassword', ng-model='pw.newPassword', ng-minlength='8', required)
    
          p.help-block(ng-show='(passwordForm.newPassword.$error.minlength || passwordForm.newPassword.$error.required) && (passwordForm.newPassword.$dirty || submitted)')
            | Password must be at least 8 characters.
    
        .form-group
          label(class='col-sm-2') Re-type Password
          .col-sm-4
            input.form-control(type='password', name='retypePassword', ng-model='pw.retypePassword', required='', match-password, ng-model-options='{ debounce: 750 }')

          p.help-block(ng-show='passwordForm.retypePassword.$error.matchPassword' )
            | Passwords do not match.
    
        p.help-block  {{ message }}

        .form-group.buttons
          .col-sm-offset-2.col-sm-10
            button.btn.btn-sm.btn-success(ng-click='clearPassword(passwordForm)', ng-disabled="passwordForm.$pristine") Clear
            button.btn.btn-sm.btn-danger(type='submit', ng-disabled="passwordForm.$invalid") Change Password
