//- {{ event }}
.event-summary
  .row
    .col-sm-4.first
      .row
        a(ui-sref="event({id: event.id})") {{event.name}}
      .row
        a(ui-sref="organization({id: event.organization.id})") {{event.organization.name}}
      .row
        | Need {{ event.volunteerSlots }} volunteers.
    .col-sm-4
      .row
        | {{event.date }}
      .row
        | {{ event.starts }} - {{ event.ends }}
      .row
        | {{ event.volunteers|decorateNumVolunteers }} signed up.
    .col-sm-4
      button.btn.btn-primary.volunteer(ng-repeat='x in [1]' ng-click="register(event.id)")
        span.fa.fa-plus
        | Volunteer for this Event
