div(ng-include='"components/navbar.html"')
.container
  .title-bar
    h1 Register for Event {{ event.name }}

    h2 Time
    | {{ event.date }}, {{ event.starts }}-{{ event.ends }}

    h2 Contact Info
    ul
      li {{ event.organization.contact }}
      li 
        a(ui-sref="organization({ id: event.organization._id })") {{ event.organization.name }}
      li {{ event.organization.phone }}
      li <a href="mailto:{{ event.organization.email }}"> {{ event.organization.email }}</a>

  .form-group.buttons
    .col-sm-6
      button.btn.btn-md.btn-primary(ng-click="register()") Register Me!
