div(ng-include='"components/navbar.html"')
.container
  //- show loading indicator
  div(cg-busy="event.$promise")
    
  div(ng-show="event")
    .title-bar
      h1 {{ event.name }}
      | {{ event.date }}, {{ event.hours }}

      h2 Contact Info
      ul
        li {{ event.organization.contact }}
        li 
          a(ui-sref="organization({ id: event.organization._id })") {{ event.organization.name }}
        li {{ event.organization.phone }}
        li <a href="mailto:{{ event.organization.email }}"> {{ event.organization.email }}</a>

      h2 Volunteers
      ul(ng-show="volunteers.length > 0")
        li(ng-repeat="volunteer in volunteers") {{ volunteer.email }}
      div(ng-show="volunteers.length == 0") No volunteers have registered.

      p This event will take {{ event.volunteerSlots }} volunteers.

    .form-group.buttons(ng-hide="user.isRegistered")
      .col-sm-6
        button.btn.btn-md.btn-primary.register(ng-click="registerVolunteer(event._id)") Register Me!
    .form-group.buttons(ng-show="user.isRegistered")
      p.registered(ng-show="user.isRegistered") You are registered as a volunteer for this event.
      | If you think this was an error or you can no longer make it then please let the organizers know by cancelling.
      .col-sm-6
        button.btn.btn-md.btn-primary.unregister(ng-click="unregisterVolunteer(event._id)") Need to Cancel

    //- {{ user }}
    //- br
    //- br
    //- {{ event }}
