.ngGrid .ngViewport {
  height: 100% !important; // https://github.com/angular-ui/ng-grid/issues/80#issuecomment-39466906
}

.event-short{
	background-color: $light-gray;
	border: 0px;
	margin:$spaceSize 0px;
}