div(ng-include='"components/navbar.html"')
.container
  //- show loading indicator
  div(cg-busy="event.$promise")
    
  div(ng-show="event")
    .title-bar
      h1 {{ event.name }}

      h2 Time
      | {{ event.date }}, {{ event.starts }}-{{ event.ends }}

      h2 Contact Info
      ul
        li {{ event.organization.contact }}
        li 
          a(ui-sref="organization({ id: event.organization._id })") {{ event.organization.name }}
        li {{ event.organization.phone }}
        li <a href="mailto:{{ event.organization.email }}"> {{ event.organization.email }}</a>

    .form-group.buttons(ng-hide="registered")
      .col-sm-6
        button.btn.btn-md.btn-primary(ng-click="registerVolunteer(event._id)") Register Me!
    p.registered(ng-show="registered") You are registered as a volunteer for this event.
