$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";


/**
 * App-wide Styles
 */

/*** SPACING ****/
$spaceSize: 10px;
$grid-gutter-width: $spaceSize*3;

/**** COLORS ****/
$darkenAmount: 15%;

$brown: #726658;
$orange: #f29753;
$green: #5b8c34;
$white: #FFFFFF;

$primaryColor: $green;
$brand-primary:         $primaryColor;
$brand-success:         $green;
$brand-warning:         $orange;

$link-color:            $green;
$link-hover-color:      darken($link-color, $darkenAmount);

/*** FONTS ****/
$fontStack: 'Montserrat', Arial, Sans-Serif;
$headingFontStack: 'Alegreya Sans SC', Verdana, Sans-Serif;

$font-family-base: $fontStack;

$headings-font-family: $headingFontStack;
$headings-font-weight: 800;
$headings-color: $green;

// Small screen / tablet
$container-tablet:             ((640px + $grid-gutter-width));
// Medium screen / desktop
$container-desktop:            ((900px + $grid-gutter-width));
// Large screen / wide desktop
$container-large-desktop:      $container-desktop;

/*** NAV-BAR ****/
$navbar-default-color:             $white;
$navbar-default-bg:                $brown;
$navbar-default-border:            0px;

$navbar-default-link-color:                $white;
$navbar-default-link-hover-color:          darken($white,$darkenAmount);
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         $white;
$navbar-default-link-active-bg:            darken($navbar-default-bg, $darkenAmount) !default;

$navbar-padding-vertical: $spaceSize*2;

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/bootstrap";
@import 'font-awesome/scss/font-awesome';

.organge{
  color:$orange;
}
.green{
  color:$green;
}

#banner{
  height:400px;
  background-image:url("/assets/images/fruitsAndVeggies.jpg");
  background-repeat: repeat-x;
  background-position: center;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/settings/settings.scss';
@import 'admin/account/account.scss';
@import 'admin/event/event.scss';
@import 'admin/organization/organization.scss';
@import 'event/index/events.scss';
@import 'main/main.scss';
@import 'organization/organization.scss';
@import 'modal.scss';
// endinjector

input.ng-invalid,
input.ng-required,
input.ng-mask,
textarea.ng-invalid {
  border: thin solid red;
}

div[flash-alert] {
  display: none;
}

div[flash-alert].in {
  display: block;
}

.float-right {
  float: right;
}

.event-summary > .row {
  border: thin solid black;
}

table.form-control {
  height: initial;  // needed for angular-bootstrap timepicker
}

.title-bar {
  position: relative;
  top: -20px;

  button.btn {
    position: absolute;
    top: 0;
    right: 0;

    span.fa {
      padding-right: 0.5em;
    }
  }
}

.grfm-grid .row {
  line-height: 30pt;
}
.grfm-grid-label {
  font-size: larger;
  font-weight: bold;
}

.modal {
  display: block; // http://stackoverflow.com/a/20292863/270511
  overflow: auto;
  min-height: 300px;  // Without this, the window is a sliver.
  min-width: 500px;   // no effect
}

form {
  @extend .form-horizontal;

  .form-group {
    button {
      margin-right: 0.3cm;
    }
    .checkbox label {
      font-weight: bold;
    }

    input.ng-invalid,
    input.ng-required,
    input.ng-mask,
    textarea.ng-invalid {
      border: thin solid red;
    }

    label {
      @extend .col-sm-2;
    }
    label + div,
    label + .form-control {
      @extend .col-sm-10;
    }
  }

  .checkbox,
  .help-block,
  .form-group.buttons {
    @extend .col-sm-offset-2;
  }
}

input[type="date"] {
  width: 10em;
}