$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/settings/settings.scss';
@import 'admin/account/account.scss';
@import 'admin/event/events.scss';
@import 'admin/organization/organization.scss';
@import 'event/index/events.scss';
@import 'main/main.scss';
@import 'organization/organization.scss';
@import 'modal.scss';
// endinjector

input.ng-invalid,
input.ng-required,
input.ng-mask,
textarea.ng-invalid {
  border: thin solid red;
}

div[flash-alert] {
  display: none;
}

div[flash-alert].in {
  display: block;
}

.float-right {
  float: right;
}

.event-summary > .row {
  border: thin solid black;
}

table.form-control {
  height: initial;  // needed for angular-bootstrap timepicker
}

.help-block {
  @extend .col-sm-offset-2;
  padding: 0 15px;
}

.title-bar {
  position: relative;
  top: -20px;

  button.btn {
    position: absolute;
    top: 0;
    right: 0;

    span.fa {
      padding-right: 0.5em;
    }
  }
}

.grfm-grid .row {
  line-height: 30pt;
}
.grfm-grid-label {
  font-size: larger;
  font-weight: bold;
}

.modal {
  display: block; // http://stackoverflow.com/a/20292863/270511
  overflow: auto;
  min-height: 300px;  // Without this, the window is a sliver.
  min-width: 500px;   // no effect
}

.modal-content {
}
