div(ng-include='"components/navbar.html"')
.container
  .title-bar
    h1 Edit Event {{ event.name }}

    div(ng-show='event._id != "new"')
      button.btn.btn-md.btn-danger(ng-click='deleteEvent()')
        span.fa.fa-minus
        | Delete Event
  
  form(role='form', name='form', ng-submit='saveEvent(form)', novalidate='')

    .form-group
      label(for='eventName', control-label) Event Name
      input.form-control#eventName(type='text', name='name', ng-model='event.name', required)
      p.help-block(ng-show="form.name.$error.required" class="error") With what name should this event be listed?

    .form-group
      label(for='eventOrganization', control-label) Sponsoring Organization
      select.form-control#eventOrganization(name='organization', ng-model='event.organization', ng-options='org._id as org.name for org in organizations', required='')
        option(value='') Select an organization.
      p.help-block(ng-show="form.organization.$error.required" class="error") What organization is sponsoring the event?

    .form-group
      label(for='eventAbout', control-label) About Event
      textarea.form-control#eventAbout(rows='2', name='about', ng-model='event.about', required='')
      p.help-block(ng-show="form.about.$error.required" class="error") Give a brief description of this event along with any contact info needed by volunteers.

    .form-group
      label(for='eventVolunteerSlots', control-label) Volunteer Slots
      input.form-control#eventVolunteerSlots(type='number', name='volunteerSlots', ng-model='event.volunteerSlots', required='')
      p.help-block(ng-show="form.volunteerSlots.$error.required" class="error") How many volunteers are requested?
      p.help-block(ng-show="form.volunteerSlots.$error.number" class="error") We need a number here!

    .form-group
      label(for='eventDate', control-label) Date
      input.form-control#eventDate(type='date', name='date', ng-model='event.isoDate', required='', placeholder='yyyy-MM-dd')
      p.help-block(ng-show="form.date.$error.date", class="error") Need a valid date.
      
    .form-group
      label(for='eventStart', control-label) Starts
      timepicker.col-sm-3#eventStart(name='start', ng-model='event.start')
      //- Angular 1.3
      //- input#eventstart.form-control(type='time', name='start', ng-model='event.start', required='', placeholder='HH:mm')
      
      label.col-sm-offset-1.col-sm-1(for='eventEnd', control-label) Ends
      timepicker.col-sm-3#eventEnd(name='end', ng-model='event.end')
      //- Angular 1.3
      //- input#eventend.form-control(type='time', name='end', ng-model='event.end', required='')

    .form-group
      .checkbox
        label(for='eventActive', control-label)
          input#eventActive(type='checkbox', name='active', ng-model='event.active')
          | Active

    p.help-block  {{ message }}

    .form-group.buttons
      .col-sm-offset-2.col-sm-6
        button.btn.btn-md.btn-success(ng-click='resetEvent()', ng-disabled="!isEventChanged()") Reset
        button.btn.btn-md.btn-primary(type='submit', ng-disabled="form.$invalid || !isEventChanged()") Save changes

  //- {{ event | json }}
