div(ng-include='"components/navbar.html"')
.container
    h1 Contact
    p
    |   Downtown Jackson Grand River Farmers Market<br />
    |   117 West Louis Glick Hwy.Jackson, MI 49201
    p
    |   Tuesday, June 3, 2014 thru November 30th, 2014*<br />
    |   Every Tuesday, Friday, and Saturday* 8am-1pm<br />
    |   *weather permitting
    p
    |   Sherri Ferriere<br />
    |   517-740-4012<br />
    |   <a href="mailto:slaferriere@cityofjackson.org">slaferriere@cityofjackson.org</a><br />
    |   <a href="http://www.jacksondda.org">http://www.jacksondda.org</a>