
#content .ui-calendar {
  margin-top: 25px;
}

#_3steps {
  overflow:hidden;
  position:relative;
  display:block;
  img{
    width:100%;
  }
  ol{
    position:absolute;
    left:10000px;
  }
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.event-summary .first {
  padding-left: 20px;
}

// fullcalendar
.fc-header-title h2 {
  font-size: large;
}

.fc-event {
  font-size: 5pt;
}

.calendar-buttons {
  margin-top: 0.25cm;

  button {
    margin-right: 0.25cm;
  }
}
