div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Welcome to the Grand River Farmer's Market!

.container#hero
  .row
    .col-md-8#hero_image
      img(src='assets/images/farmers-market-peppers2.jpg', alt='Peppers on display.')

    .col-md-4
      h1.page-header Three Steps to Happiness
      ol#_3steps 
        li Find an event.
        li Click on "Volunteer" button.
        li Show up!

.container#content(ng-controller='EventsCtrl')
  .row
    .col-sm-4
      //- {{ calendarEvents }}
      div.ui-calendar(ui-calendar, ng-model='calEventSources')
        
    .col-sm-8
      h2.title.upcoming Upcoming Events
      div(ng-repeat='event in events track by $index')
        event-summary(event='event')

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
