div(ng-include='"components/navbar.html"')

header#banner.hero-unit
  .container
    h1.logo.logo-large Grand River Farmers Market

.container.jumbotron
  p We are looking for <span class="organge">volunteers</span> to help with events at the <span class="green"> Grand River Farmers Market!</span> 
  #_3steps
    img(src="/assets/images/3steps.png" alt="") 
    ol
      li#_step1 Find an event.
      li#_step2 Click on "Volunteer" button.
      li#_step3 Show up!

.container#content
  h2.title.upcoming Upcoming Events
  div(ng-repeat='event in events track by $index')
        event-summary(event='event' registeredEvents='registeredEvents')
