div(ng-include='"components/navbar.html"')

header#banner.hero-unit
  .container
    h1.logo.logo-large Grand River Farmers Market

.container#hero
  p We are looking for <span class="organge">volunteers</span> to help with events at the <span class="green"> Grand River Farmers Market!</span> 
  ol#_3steps 
    li Find an event.
    li Click on "Volunteer" button.
    li Show up!

.container#content
  h2.title.upcoming Upcoming Events
  div(ng-repeat='event in events track by $index')
        event-summary(event='event' registeredEvents='registeredEvents')
