/*.thing-form {
  margin: 20px 0;
}
*/

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#hero {
  margin-top: 0.5cm;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

#hero_image {
  overflow: hidden;
}

#content .ui-calendar {
  margin-top: 25px;
}

#_3steps {
  font-size: 16pt;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.event-summary .first {
  padding-left: 20px;
}

// fullcalendar
.fc-header-title h2 {
  font-size: large;
}

.fc-event {
  font-size: 5pt;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .title.upcoming {
    text-align: center;
  }
}
