div(ng-include='"components/navbar.html"')
.container
    p This website is designed for people and organizations who want to make contributions to Grand River Farmers’ Market. Information with events hosted at the market will be posted on the website for people to register. For people who are interested in participating/volunteering those events, simply sign up as the friend of market to participate/volunteer meanwhile tracking their participante/volunteer hours. We hope to bridge the citizen of Jackson with Grand River Farmers Market and engage more people to eat local, buy local, and become a friend of the market. 
    p We invite any and all types of farmers and/or vendors to attend, but we are currently highly interested in any and all types of meat and/or poultry vendors. 
        a(href="http://www.jacksondda.org/forms.php") You can find Daily and/or Seasonal Vendor Applications here.
    p The season will soon be upon us and we are looking forward to entering into our second year of operation of the Grand River Farmers Market. Come on down and support your local farmers and agriculture by buying local fresh produce, floral, plants, dried goods, pies, jams, honey, meats, and cheeses.
