div(ng-include='"components/navbar.html"')

.container

  .title-bar
    h1 Manage Organizations

    button.btn.btn-default(ng-click="new()")
      span.fa.fa-plus
      | New Organization

  div(ng-grid='organizationGridOptions')
