div(ng-include='"components/navbar.html"')

.container(ng-controller='AdminOrganizationsCtrl')

  .title-bar
    h1 Manage Organizations
    a(ui-sref="admin-organization({ id: 'new'})")
      button.btn.btn-md.btn-success
        span.fa.fa-plus
        | New Organization

  div(ng-grid='organizationGridOptions')
