//- Not currently used.

div(ng-include='"components/navbar.html"')
.container

  .h1 Upcoming Events

  div(ng-controller='EventsCtrl')
    div(ng-repeat='event in events track by $index')
      event-summary(event='event')
