div(ng-include='"components/navbar.html"')
.container
  .title-bar
    h1 {{ actionTitle }} Event

    div(ng-show='event.id != "new"')
      button.btn.btn-md.btn-danger(ng-click='deleteEvent()')
        span.fa.fa-minus
        | Delete Event
  
  form.form(name='eventForm', ng-submit='saveEvent(eventForm)', novalidate, ng-controller='AdminEventCtrl', class='form-horizontal')

    .form-group
      label.col-sm-2(for='eventName', control-label) Event Name
      .col-sm-10
        input#eventName.form-control(type='text', name='name', ng-model='event.name', required='')
      p.help-block(ng-show="eventForm.name.$error.required" class="error") With what name should this event be listed?

    .form-group
      label.col-sm-2(for='eventOrganization', control-label) Sponsoring Organization
      .col-sm-10
        input#eventOrganization.form-control(type='text',  name='organization', ng-model='event.organization', required='')
      p.help-block(ng-show="eventForm.organization.$error.required" class="error") What organization is sponsoring the event?

    .form-group
      label.col-sm-2(for='eventAbout', control-label) About Event
      .col-sm-10
        textarea#eventAbout.form-control(rows='2', name='about', ng-model='event.about', required='')
      p.help-block(ng-show="eventForm.about.$error.required" class="error") Give a brief description of this event along with any contact info needed by volunteers.

    .form-group
      label.col-sm-2(for='eventVolunteerSlots', control-label) Volunteer Slots
      .col-sm-1
        input#eventVolunteerSlots.form-control(type='number', name='volunteerSlots', ng-model='event.volunteerSlots', required='')
      p.help-block(ng-show="eventForm.volunteerSlots.$error.required" class="error") How many volunteers are requested?
      p.help-block(ng-show="eventForm.volunteerSlots.$error.number" class="error") We need a number here!

    .form-group
      label.col-sm-2(for='eventDate', control-label) Date
      .col-sm-3
        input#eventDate.form-control(type='date', name='date', ng-model='event.date', required='')
      
    .form-group
      label.col-sm-2(for='eventStart', control-label) Starts
      .col-sm-3
        timepicker#eventStart.form-control(name='start', ng-model='event.startTime')
        //- Angular 1.3
        //- input#eventstart.form-control(type='time', name='start', ng-model='event.start', required='', placeholder='HH:mm')
      
      label.col-sm-offset-1.col-sm-1(for='eventEnd', control-label) Ends
      .col-sm-3
        timepicker#eventEnd.form-control(name='end', ng-model='event.endTime')
        //- Angular 1.3
        //- input#eventend.form-control(type='time', name='end', ng-model='event.end', required='')

    .form-group
      label.col-sm-2(for='eventActive', control-label) Active
      .col-sm-1
        input#eventActive.form-control(type='checkbox', name='active', ng-model='event.active')

    p.help-block  {{ message }}

    .form-group.buttons
      .col-sm-offset-2.col-sm-6
        button.btn.btn-md.btn-success(ng-click='resetEvent()', ng-disabled="!isEventChanged(event)") Reset
        button.btn.btn-md.btn-primary(type='submit', ng-disabled="eventForm.$invalid || !isEventChanged(event)") Save changes
