div(ng-include='"components/navbar.html"')

.container(ng-controller='AdminEventsCtrl')

  .title-bar
    h1 Manage Events
    a(ui-sref="admin-event({ id: 'new'})")
      button.btn.btn-md.btn-success
        span.fa.fa-plus
        | New Event

  div(ng-grid='eventGridOptions')
