div(ng-include='"components/navbar.html"')
.container

  h1 {{ event.name }}
  | {{ event.date }}, {{ event.hours }}

  h2 Contact Info
  ul
    li {{ event.organization.contact }}
    li 
      a(ui-sref="organization({ id: event.organization._id })") {{ event.organization.name }}
    li {{ event.organization.phone }}
    li <a href="mailto:{{ event.organization.email }}"> {{ event.organization.email }}</a>

  h2 Volunteers
  p This event will take {{ event.volunteerSlots }} volunteers.
  div(ng-grid='volunteerGridOptions')

  //- {{ volunteers }}
