<div class="modal xfade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        <p>Type in your email and we'll see if you've registered before.</p>

        <form class="form-horizontal" role="form" name="form">
          <div class="form-group">
            <label for="fieldEmail" class="col-sm-2", control-label>Email</label>
            <div class="col-sm-10">
              <input id="fieldEmail" class="form-control" type="text" ng-model="email" required="" />
              <!-- email: {{ email }} -->
              <p ng-show="form.email.$error.required" class="error help-block") What&apos;s your organization&apos;s email address?</p>
              <p ng-show="form.email.$error.email" class="error help-block") This doesn&apos;t look like a valid e-mail address!</p>
              <p ng-show="form.email.$error.uniqueEmail" class="error help-block") Oops! This e-mail is already taken.</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save()">OK</button>
      </div>
    </div>
  </div>
</div>
