div(ng-include='"components/navbar.html"')
.container
  .title-bar
    h1 Register for Event {{ event.name }}

    ul.subtitle
      li {{ event.sponsor }}
      li {{ event.date }} {{ event.hours }}

  form.form(name='form', ng-submit='register(form)', novalidate, ng-controller='VolunteerCtrl', class='form-horizontal')

    .form-group
      label(for='fieldEmail', class='col-sm-2', control-label) Email
      .col-sm-10
        input#fieldEmail.form-control(type='email', name='email', ng-model='volunteer.email', ng-model-options='{ debounce: 750 }', required='')
      p.help-block(ng-show="form.email.$error.email" class="error") This doesn't look like a valid e-mail address!

    .form-group
      label(for='fieldName', class='col-sm-2', control-label) Name
      .col-sm-10
        input#fieldName.form-control(type='text', name='name', ng-model='volunteer.name', required='', ng-model-options='{ debounce: 750 }')
      p.help-block(ng-show="form.name.$error.required" class="error") C'mon, don't be shy!  We need a name here.

    .form-group
      label(for='fieldPhone', class='col-sm-2', control-label) Phone
      .col-sm-10
        input#fieldPhone.form-control(type='text', name='phone', ng-model='volunteer.phone', ng-model-options='{ debounce: 750 }', ui-mask='(999) 999-9999', required='')
      p.help-block(ng-show="form.phone.$error.mask" class="error") Keep typing!
            
    p.help-block  {{ message }}

    .form-group.buttons
      .col-sm-offset-2.col-sm-f6
        //- button.btn.btn-md.btn-success(ng-click='reset()', ng-disabled="!isChanged(volunteer)") Reset
        button.btn.btn-md.btn-primary(type='submit', ng-disabled="form.$invalid") Save changes
