div(ng-include='"components/navbar.html"')
.container

  h1 My Info
  edit-volunteer-info

  div(ng-show="volunteer.id")
    h1 Events I Am Registered To Volunteer At
    div(ng-grid="futureGridOptions")

    h1 Events I Have Volunteered At
    div(ng-grid="pastGridOptions")
